//color

$primary: #306EAC;
$primary-text:#7BB4D7;
$secondary:#EAF6FE;
$info:#F0E8FF;
$info-text:#B69EF0;
$danger: #FEEAEF;
$danger-text:#D77B92;
$selected:#F9AC7A;
$white:white;

$theme-color:#F7FBFE;

//font
$font-l:36px;
$font-m:24px;
$font-s:20px;

